body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(148, 187, 233, 1);
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

main {
  flex-grow: 1;
}


img{
    width: 30px;
    height: 30px;
}

.card-border{
    border: solid 1px;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-color: black;

}

h1{
     color: #17202a;
     font-size: 35px;
     text-align: center;
}

.color-font{
    color: #17202a;
}

.btn-add{
    border-radius: 4px;
    border-color: #17202a;
    background-color: rgb(54, 122, 199);
    padding: 5px 10px;
}

li,textarea{
    border: solid, 1px,  #17202a;
}


.modal-content {
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  color: #222; 
  border-radius: 10px;
}